.main__section_bg {
    width: 100%;
    background-image: url("../img/main_bg_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    @media screen and (min-width: 1440px) {
        background-size: cover;
    }
    .main__title_conteiner {
        width: 80%;
        margin: 0 auto;
        .aplacewhere {
            padding: 168px 0 0 0;
            font-size: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            @media screen and (min-width: 1440px) {
                font-size: 14px;
                padding: 187px 0 0 22px;
                line-height: 21px;
            }
        }
        .h1_item {
            padding: 23px 0 23px 0;
            font-size: 38px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            @media screen and (min-width: 400px) {
                font-size: 35px;
                max-width: 310px;
            }
            @media screen and (min-width: 500px) {
                font-size: 42px;
                max-width: 330px; 
            }
            @media screen and (min-width: 600px) {
                font-size: 60px;
                max-width: 616px;
            }
            @media screen and (min-width: 1440px) {
                font-size: 60px;
                line-height: 74px;
                padding: 23px 0 23px 20px;
                max-width: 570px;
            }
        }
        .main__subtitle {
            padding-bottom: 44px;
            font-size: 26px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            @media screen and (min-width: 1440px) {
                font-size: 16px;
                line-height: 26px;
                padding: 0 0 0 20px;
                max-width: 581px;
            }
        }
        .main__link {
            padding-bottom: 90px;
            font-size: 30px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            @media screen and (min-width: 1440px) {
                font-size: 16px;
                line-height: 26px;
                padding: 47px 0 210px 12px;
            }
        }
    }
}