@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
.header {
  width: 100%;
  height: 60px;
  position: absolute;
}
.header.open .header__container .header__burger-btn {
  position: fixed;
  margin-left: 73%;
  background-color: #868585;
}
.header.open .header__container .header__burger-btn::before {
  transform: rotate(45deg);
  top: 17px;
  background: #fff;
}
.header.open .header__container .header__burger-btn::after {
  transform: rotate(-45deg);
  top: 17px;
  background-color: #fff;
}
.header.open .header__container .header__burger-btn .header__span {
  opacity: 0;
}
.header.open .header__container .header__nav {
  transform: translateX(0);
}
.header.open .header__container .header__nav__bg-active {
  visibility: visible;
}
@media screen and (min-width: 1440px) {
  .header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
}
.header .header__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 390px) {
  .header .header__container {
    width: 100%;
  }
}
.header .header__container .header__logo {
  max-width: 256px;
  max-height: 39px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .header .header__container .header__logo {
    padding-top: 9px;
    margin-left: 23px;
    width: 256.29px;
    height: 39.27px;
  }
}
.header .header__container .header__logo img {
  max-width: 256px;
  max-height: 39px;
  margin: 15px 0 0 0;
}
.header .header__container .header__burger-btn {
  margin: 25px 22px 0 0;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 215, 35);
  border-radius: 25px;
  position: relative;
  z-index: 11;
}
.header .header__container .header__burger-btn::after, .header .header__container .header__burger-btn::before {
  content: "";
  background-color: #111;
  position: absolute;
  width: 80%;
  height: 2px;
  left: 3px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header .header__container .header__burger-btn::before {
  top: 11px;
}
.header .header__container .header__burger-btn::after {
  bottom: 9px;
}
@media screen and (max-width: 1439px) {
  .header .header__container .header__burger-btn {
    margin-top: 15px;
  }
}
.header .header__container .header__burger-btn .header__span {
  width: 30px;
  background-color: #111;
  position: absolute;
  width: 80%;
  height: 2px;
  left: 3px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header .header__container .header__nav {
  position: fixed;
  width: 300px;
  height: 400px;
  background-image: url(../img/nav_bg.png);
  background-size: contain;
  top: 15px;
  right: 30px;
  transform: translateX(150%);
  transition: all 0.3s ease;
  border-radius: 10px;
  z-index: 10;
  border: 1px solid #fff;
}
.header .header__container .header__nav .header__nav__list {
  margin: 60px 0 0 20px;
}
.header .header__container .header__nav .header__nav__list .header__list__item {
  text-decoration: none;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
}
.header .header__container .header__nav .header__nav__list .header__list__item .header__list__item__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 2px 0;
}
.header .header__container .header__nav__bg-active {
  background: rgba(17, 17, 17, 0.4941176471);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 9;
  visibility: hidden;
}

.main__section_bg {
  width: 100%;
  background-image: url("../img/main_bg_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
@media screen and (min-width: 1440px) {
  .main__section_bg {
    background-size: cover;
  }
}
.main__section_bg .main__title_conteiner {
  width: 80%;
  margin: 0 auto;
}
.main__section_bg .main__title_conteiner .aplacewhere {
  padding: 168px 0 0 0;
  font-size: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .main__section_bg .main__title_conteiner .aplacewhere {
    font-size: 14px;
    padding: 187px 0 0 22px;
    line-height: 21px;
  }
}
.main__section_bg .main__title_conteiner .h1_item {
  padding: 23px 0 23px 0;
  font-size: 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}
@media screen and (min-width: 400px) {
  .main__section_bg .main__title_conteiner .h1_item {
    font-size: 35px;
    max-width: 310px;
  }
}
@media screen and (min-width: 500px) {
  .main__section_bg .main__title_conteiner .h1_item {
    font-size: 42px;
    max-width: 330px;
  }
}
@media screen and (min-width: 600px) {
  .main__section_bg .main__title_conteiner .h1_item {
    font-size: 60px;
    max-width: 616px;
  }
}
@media screen and (min-width: 1440px) {
  .main__section_bg .main__title_conteiner .h1_item {
    font-size: 60px;
    line-height: 74px;
    padding: 23px 0 23px 20px;
    max-width: 570px;
  }
}
.main__section_bg .main__title_conteiner .main__subtitle {
  padding-bottom: 44px;
  font-size: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .main__section_bg .main__title_conteiner .main__subtitle {
    font-size: 16px;
    line-height: 26px;
    padding: 0 0 0 20px;
    max-width: 581px;
  }
}
.main__section_bg .main__title_conteiner .main__link {
  padding-bottom: 90px;
  font-size: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
@media screen and (min-width: 1440px) {
  .main__section_bg .main__title_conteiner .main__link {
    font-size: 16px;
    line-height: 26px;
    padding: 47px 0 210px 12px;
  }
}

.partners {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .partners {
    margin-bottom: 30px;
  }
}
.partners .partners__cotainer {
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .partners .partners__cotainer {
    width: 90%;
    margin: 0 0 0 auto;
    padding: 15px 0;
    margin-top: -64px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  }
}
@media screen and (min-width: 1440px) {
  .partners .partners__cotainer {
    width: 76%;
    margin-top: -101px;
    padding: 57px 165px 57px 15px;
    right: 0;
  }
}
.partners .partners__cotainer .partners__list {
  padding: 57px 0 57px 0;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .partners .partners__cotainer .partners__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .partners .partners__cotainer .partners__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .partners .partners__cotainer .partners__list {
    display: flex;
    padding: 0;
  }
}
.partners .partners__cotainer .partners__list .partners__item {
  width: 156px;
  opacity: 62.6%;
  height: 113px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px 1px black;
  margin: 0 auto;
}
.partners .partners__cotainer .partners__list .partners__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .partners .partners__cotainer .partners__list .partners__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .partners .partners__cotainer .partners__list .partners__item {
    box-shadow: none;
  }
}
@media screen and (min-width: 1440px) {
  .partners .partners__cotainer .partners__list .partners__item:nth-child(1) {
    margin: 0 0 0 51px;
  }
  .partners .partners__cotainer .partners__list .partners__item:nth-child(2) {
    margin: 0 0 0 62px;
  }
  .partners .partners__cotainer .partners__list .partners__item:nth-child(3) {
    margin: 0 0 0 67px;
  }
  .partners .partners__cotainer .partners__list .partners__item:nth-child(4) {
    margin: 0 0 0 66px;
  }
  .partners .partners__cotainer .partners__list .partners__item:nth-child(5) {
    margin: 0 0 0 68px;
  }
}
.partners .partners__cotainer .partners__list .partners__item:nth-child(1) {
  background-image: url("../img/main_andry.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.partners .partners__cotainer .partners__list .partners__item:nth-child(2) {
  background-image: url("../img/main_leadership.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.partners .partners__cotainer .partners__list .partners__item:nth-child(3) {
  background-image: url("../img/main_walbridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.partners .partners__cotainer .partners__list .partners__item:nth-child(4) {
  background-image: url("../img/main_ideal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.partners .partners__cotainer .partners__list .partners__item:nth-child(5) {
  background-image: url("../img/main_phalen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section__content {
  width: 100%;
}
.section__content .content__conteiner {
  width: 100%;
  margin: 0 auto;
}
.section__content .content__conteiner .section__item {
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
  margin: 0 10px 15px 10px;
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .section__item {
    display: flex;
    width: 79%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item {
    padding-bottom: 150px;
  }
}
.section__content .content__conteiner .section__item .section__item__info {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
@media screen and (min-width: 600px) {
  .section__content .content__conteiner .section__item .section__item__info {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .section__item .section__item__info {
    margin-right: 75px;
    border-bottom: none;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__info {
    padding-top: 67px;
    margin: 0 0 0 14px;
    width: 42%;
  }
}
.section__content .content__conteiner .section__item .section__item__info .info__sup__title {
  padding: 20px 0 32px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.section__content .content__conteiner .section__item .section__item__info .info__title {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0px;
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__info .info__title {
    padding: 1px 0 0 0;
    width: 400px;
  }
}
.section__content .content__conteiner .section__item .section__item__info .default__content__sub__title {
  padding: 32px 0 42px 0;
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__info .default__content__sub__title {
    width: 480px;
  }
}
.section__content .content__conteiner .section__item .section__item__info .default__content__link {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
}
.section__content .content__conteiner .section__item .section__item__for__card {
  padding: 40px 10px 30px 10px;
  box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 600px) {
  .section__content .content__conteiner .section__item .section__item__for__card {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .section__content .content__conteiner .section__item .section__item__for__card {
    padding-bottom: 10px;
    width: 61%;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__for__card {
    padding: 15px 9px 57px 40px;
    margin: 62px 14px 0 0;
    width: 425px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__for__card .content__card {
    width: 390px;
  }
}
.section__content .content__conteiner .section__item .section__item__for__card .content__card .card__sup__title {
  font-family: "Poppins";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  color: #4D533C;
  padding-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__for__card .content__card .card__sup__title {
    padding: 10px 0 10px 0;
  }
}
.section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant .placemant__img {
    margin-right: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant .placemant__img img {
    width: 90px;
    height: 90px;
    margin-top: 44px;
  }
}
.section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant .placemant__name {
  padding: 0 0 0 20px;
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant .placemant__name {
    margin: 54px 0 0 0;
    padding: 0;
  }
}
.section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant .placemant__name .content__card__name {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0px;
  color: #4D533C;
}
.section__content .content__conteiner .section__item .section__item__for__card .content__card .card__hero__placemant .placemant__name .content__card__direction {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #152934;
  margin-top: 7px;
}
.section__content .content__conteiner .section__title__of__content {
  padding: 30px 10px 40px 10px;
}
@media screen and (min-width: 600px) {
  .section__content .content__conteiner .section__title__of__content {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .section__title__of__content {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__title__of__content {
    padding: 150px 10px 40px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .section__title__of__content .title__place {
    width: 100%;
    margin-right: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__title__of__content .title__place {
    width: 70%;
  }
}
.section__content .content__conteiner .section__title__of__content .title__place .title__of__content {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  color: rgb(77, 83, 60);
  padding-bottom: 20px;
  width: 350px;
}
@media screen and (max-width: 360px) {
  .section__content .content__conteiner .section__title__of__content .title__place .title__of__content {
    font-size: 34px;
    width: 300px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1439px) {
  .section__content .content__conteiner .section__title__of__content .p__place {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .section__title__of__content .p__place {
    margin: 18px 0 0 0;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__title__of__content .p__place {
    margin: 12px 0 0 3px;
  }
}
.section__content .content__conteiner .section__title__of__content .p__place .p__of__content {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgba(33, 56, 66, 0.6);
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .section__title__of__content .p__place .p__of__content {
    width: 67%;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item {
  margin: 0 auto;
}
@media screen and (min-width: 500px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item {
    display: flex;
    width: 100%;
    margin-bottom: 90px;
  }
  .section__content .content__conteiner .wrapper__container .conteiner__section__item:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item {
    margin-bottom: 95px;
  }
  .section__content .content__conteiner .wrapper__container .conteiner__section__item:nth-child(odd) {
    margin-bottom: 124px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item:nth-child(3) {
    margin-bottom: 0;
    padding-bottom: 188px;
  }
  .section__content .content__conteiner .wrapper__container .conteiner__section__item:nth-child(3) .default__content__title {
    padding-left: 5px;
  }
  .section__content .content__conteiner .wrapper__container .conteiner__section__item:nth-child(3) .default__content__link {
    margin-top: 88px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item:nth-child(even) .content__info__place {
    padding: 124px 0 0 0px;
    width: 37%;
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section {
    width: 60%;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section {
    width: 51%;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__img {
  width: 95%;
  z-index: auto;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__img {
    margin: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__img {
    margin: 42px 0 0 0;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__img img {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__img img {
    min-width: 100%;
    border-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
  width: 240px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  position: absolute;
  margin: -20% 0;
  right: 10px;
  z-index: 5;
}
@media screen and (min-width: 500px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
    min-width: 310px;
  }
}
@media (min-width: 600px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
    width: 300px;
    right: 30px;
    width: 345px;
  }
}
@media (min-width: 600px) and (max-width: 710px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
    width: 345px;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
    margin: -14% 46%;
  }
}
@media screen and (min-width: 1234px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
    min-height: 243px;
    width: 453px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card {
    width: 452px;
    min-height: 210px;
    margin: -12.1% 44.2%;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card:nth-child(3) .card__sup__title {
    padding-top: 7px;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__sup__title {
  padding: 15px 5px 0 10px;
  font-family: "Poppins";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
}
@media screen and (min-width: 1234px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__sup__title {
    line-height: 26px;
    padding: 27px 33px 27px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__sup__title {
    width: 390px;
    padding-top: 28px;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant {
  display: flex;
  padding: 15px 0 10px 0;
}
@media screen and (min-width: 1234px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant {
    padding: 0 0 30px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant {
    padding: 6px 0 30px 20px;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant .placemant__img {
  min-width: 30%;
}
@media screen and (min-width: 1234px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant .placemant__img {
    min-width: 13%;
    margin-right: 14px;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant .placemant__img img {
  width: 46px;
  height: 46px;
  margin: 0 0 0 10px;
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant .placemant__name .content__card__name {
  padding: 0 0 0 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant .placemant__name .content__card__direction {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
}
@media screen and (min-width: 1234px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .content__card .card__hero__placemant .placemant__name .content__card__direction {
    padding: 3px 0 0 0;
  }
}
.section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .for__even {
  margin: -14% 23%;
}
@media screen and (max-width: 1023px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .for__even {
    margin: -14.5% 1%;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .wrapper__container .conteiner__section__item .content__image__section .for__even {
    margin: -14.5% 20.3%;
  }
}
.section__content .content__conteiner .wrapper__container .border__bott {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 56, 66, 0.1);
}
.section__content .content__conteiner .content__info__place {
  padding: 140px 10px 40px 10px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .section__content .content__conteiner .content__info__place {
    padding-top: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .section__content .content__conteiner .content__info__place {
    padding: 40px 25px 0 30px;
    width: 50%;
  }
}
@media screen and (min-width: 1310px) {
  .section__content .content__conteiner .content__info__place {
    padding: 90px 55px 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .content__info__place {
    padding: 124px 55px 0 98px;
    width: 38%;
  }
}
.section__content .content__conteiner .content__info__place .default__content__title {
  padding-bottom: 15px;
}
@media screen and (min-width: 1280px) {
  .section__content .content__conteiner .content__info__place .default__content__title {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .content__info__place .default__content__title {
    max-width: 350px;
    padding-bottom: 32px;
  }
}
.section__content .content__conteiner .content__info__place .default__content__sub__title {
  padding-bottom: 15px;
}
@media screen and (min-width: 1280px) {
  .section__content .content__conteiner .content__info__place .default__content__sub__title {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .content__info__place .default__content__sub__title {
    padding-bottom: 26px;
    width: 420px;
  }
}
@media screen and (min-width: 1440px) {
  .section__content .content__conteiner .content__info__place .default__content__link {
    margin-top: 64px;
    margin-left: -10px;
  }
}

.special__way {
  width: 100%;
}
.special__way .way__conteiner {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner {
    padding: 0 0 80px 0;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner {
    width: 77%;
    padding: 0 0 223px 0;
  }
}
.special__way .way__conteiner .way__title {
  padding: 100px 0 60px 0;
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__title {
    padding: 151px 0 80px 0px;
    width: 600px;
  }
}
.special__way .way__conteiner .way__card_place {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner .way__card_place {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place {
    justify-content: start;
  }
}
.special__way .way__conteiner .way__card_place .way__card:last-child {
  padding-bottom: 98px;
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner .way__card_place .way__card {
    width: 22%;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card {
    margin: 5px 30px 0 0px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card:nth-child(2) .way__work {
    margin-left: 11px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card:nth-child(3) .way__work {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card:nth-child(4) .way__work .way__work__info {
    width: 190px;
    margin-top: -5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card:nth-child(4) .way__work {
    margin-left: 33px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card .way__work {
    padding: 0 0 0 30px;
  }
}
.special__way .way__conteiner .way__card_place .way__card .way__work .way__work__title {
  padding: 27px 42px 20px 30px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner .way__card_place .way__card .way__work .way__work__title {
    padding: 0;
    min-height: 70px;
    margin-bottom: 10px;
    width: 115px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card .way__work .way__work__title {
    min-width: 180px;
    padding-bottom: 10px;
  }
}
.special__way .way__conteiner .way__card_place .way__card .way__work .way__work__info {
  padding: 0 31px 56px 30px;
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner .way__card_place .way__card .way__work .way__work__info {
    padding: 0;
    min-height: 134px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card .way__work .way__work__info {
    max-width: 194px;
  }
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner .way__card_place .way__card .way__work .title1__width {
    width: 190px;
  }
}
.special__way .way__conteiner .way__card_place .way__card .way__read__more .main__link {
  padding: 0 20px 36px 30px;
}
@media screen and (min-width: 1024px) {
  .special__way .way__conteiner .way__card_place .way__card .way__read__more .main__link {
    padding: 0 20px 36px 0;
  }
}
@media screen and (min-width: 1440px) {
  .special__way .way__conteiner .way__card_place .way__card .way__read__more .main__link {
    padding-left: 42px;
  }
}

.make__together__sec {
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
  z-index: 4;
}
@media screen and (min-width: 1024px) {
  .make__together__sec {
    width: 80%;
    margin-top: -130px;
  }
}
@media screen and (min-width: 1440px) {
  .make__together__sec {
    width: 88.5%;
    margin-top: -150px;
  }
}
.make__together__sec .make__together__container {
  width: 80%;
}
@media screen and (min-width: 400px) {
  .make__together__sec .make__together__container {
    margin: 0 auto;
  }
}
.make__together__sec .make__together__container .make__together__place {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .make__together__sec .make__together__container .make__together__place .make__together__place {
    width: 100%;
  }
}
.make__together__sec .make__together__container .make__together__place .make__together__h2-60px {
  font-family: "Poppins";
  font-size: 43px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0px;
  padding: 50px 0 90px 0px;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .make__together__sec .make__together__container .make__together__place .make__together__h2-60px {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .make__together__sec .make__together__container .make__together__place .make__together__h2-60px {
    padding-bottom: 50px;
    padding-top: 46px;
    padding-left: 10px;
    font-size: 60px;
  }
}
.make__together__sec .make__together__container .make__together__place .make__together__link {
  padding: 0 0 41px 0;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@media screen and (min-width: 1024px) {
  .make__together__sec .make__together__container .make__together__place .make__together__link {
    font-size: 16px;
    padding-bottom: 70px;
  }
}

.footer {
  background-image: url("../img/footer_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  z-index: 1;
}
.footer .footer__setion {
  width: 80%;
  margin: 0 auto;
  padding: 500px 0 0 0;
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion {
    padding-top: 220px;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion {
    padding-top: 291px;
    width: 77.2%;
  }
}
.footer .footer__setion .footer__cotainer .footer__contacts {
  display: flex;
  padding-bottom: 30px;
}
@media screen and (min-width: 400px) {
  .footer .footer__setion .footer__cotainer .footer__contacts {
    padding-top: 20px;
    padding-bottom: 55px;
  }
}
.footer .footer__setion .footer__cotainer .footer__contacts .footer__contact__card {
  width: 50%;
}
.footer .footer__setion .footer__cotainer .footer__contacts .footer__contact__card:last-child {
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__contacts .footer__contact__card {
    width: 31%;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__contacts .footer__contact__card {
    width: 20.3%;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__contacts .suptitle {
    padding-bottom: 8px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon {
  border-top: 1px solid #5D6544;
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon {
    display: flex;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid #5D6544;
}
@media screen and (max-width: 578px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers {
    padding-top: 61px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws {
  width: 40%;
}
@media screen and (min-width: 500px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws:nth-child(2) {
    margin-right: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .side__border {
    border-right: 1px solid #5D6544;
    height: 75%;
    margin-top: -210px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws {
    width: 30%;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws_title {
  padding-bottom: 5px;
  min-height: 116px;
  min-width: 140px;
}
@media screen and (max-width: 578px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws_title {
    min-height: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws_title {
    min-height: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws_title {
    text-transform: uppercase;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 300px) and (max-width: 359px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws__list {
    display: grid;
    grid-template-columns: 160px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 360px) and (max-width: 578px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws__list {
    padding-bottom: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 160px 160px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__answers .footer__answers__raws .raws__list .raws__list__item {
  padding-right: 5px;
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social {
  border-bottom: 1px solid #5D6544;
  padding: 0 0 10px 0;
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social {
    width: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__sup {
    padding: 37px 0 0 11px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__sup .footer__social__info {
  color: #B6C197;
  margin-bottom: 15px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__sup .footer__social__info {
    width: 250px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__sup .raws_title {
  margin: 30px 0 20px 0;
}
@media screen and (min-width: 1024px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__sup .raws_title {
    margin: 25px 0 30px 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__sup .raws_title {
    text-transform: uppercase;
    margin-bottom: 23px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__email {
  font-family: "Poppins";
  font-size: 19px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
}
@media screen and (min-width: 400px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__email {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__email {
    padding: 7px 0 0 11px;
  }
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__social__icon__place {
  min-width: 171px;
  height: 34px;
  display: flex;
  margin: 25px 0 0 11px;
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__social__icon__place .footer__social__icon__item {
  width: 33px;
  height: 33px;
  background-color: rgb(94, 102, 72);
  border-radius: 20px;
  margin-right: 13px;
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__social__icon__place .footer__social__icon__item:hover {
  background-color: rgb(255, 215, 35);
}
.footer .footer__setion .footer__cotainer .footer__answers__soc__icon .footer__social .footer__social__icon .footer__social__icon__place .footer__social__icon__item img {
  width: 25px;
  margin: 5px 0 0 4px;
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__logo__caption {
    display: flex;
    justify-content: space-between;
  }
}
.footer .footer__setion .footer__cotainer .footer__logo__caption .footer__logo {
  margin: 30px 0 20px 0;
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__logo__caption .footer__logo img {
    max-width: 200px;
    margin-top: 50px;
  }
}
.footer .footer__setion .footer__cotainer .footer__logo__caption .footer__caption {
  padding-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .footer .footer__setion .footer__cotainer .footer__logo__caption .footer__caption {
    padding-bottom: 0;
    margin: 88px 29px 0 0;
  }
}
.footer .footer__setion .footer__cotainer .footer__logo__caption .footer__caption .footer__caption__p {
  color: #B6C197;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
}

.body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

ul, ol, li {
  display: block;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(212, 214, 212);
}
a:hover {
  color: #FFD723;
}

.default__content__title {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  color: #4D533C;
}

.default__content__sub__title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: rgba(33, 56, 66, 0.6);
}

.default__content__link {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #D4D6D4;
}
.default__content__link .getintouch {
  margin-left: 24px;
}
.default__content__link .getintouch:hover {
  color: rgb(255, 215, 35);
}
.default__content__link .getintouch:hover::before {
  border-left: 5px solid rgb(255, 215, 35);
}
.default__content__link .getintouch::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left: 5px solid #D4D6D4;
  margin-top: 6px;
  margin-left: -10px;
}

.h2__default-36px {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0px;
}

.way__default__p-14px {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
}

.yellow {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.yellow .getintouch {
  text-decoration: none;
  color: #D4D6D4;
}
.yellow .getintouch:hover {
  color: rgb(255, 215, 35);
}
.yellow .getintouch:hover::before {
  border-left: 5px solid rgb(255, 215, 35);
}
.yellow .getintouch::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left: 5px solid #D4D6D4;
  margin-top: 6px;
  margin-left: -10px;
}

.footer__title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  color: #fff;
}

.footer__p-grey {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  color: #B6C197;
}

.footer__p-grey .footer__item__link {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  color: #B6C197;
}
.footer__p-grey .footer__item__link:hover {
  color: rgb(255, 215, 35);
}

.raws_title {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0px;
  color: #fff;
}

.footer__email {
  color: #fff;
}/*# sourceMappingURL=style.css.map */
